<!--PROGETTI REALIZZATI-->
<div class="container-fluid px-4 py-5" id="hanging-icons">
    <p class="display-2 progetti text-success">Progetti</p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

      <div class="col d-flex align-items-start" *ngFor="let mioProgetto of listaProgetti">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h3 class="fs-2">{{mioProgetto.titolo}}</h3>
          <a href="{{mioProgetto.link}}" class="btn">
            <img src="../assets/{{mioProgetto.img}}" class="img-fluid ismaa" alt="ISMAA-ONLINE.org">
          </a>
        </div>
      </div>
    </div>
</div>
