.display-2.progetti {
    text-align: center;
}

.row {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.img-fluid.ismaa {
    border-radius: 20%;
    height: 100px;
    width: 100px;
}

.img-fluid.veris {
    height: 100px;
    width: 50px;
}

.img-fluid.app {
    height: 100px;
    width: 100px;
}