<!--LAVORI REALIZZATI-->
<div class="container-fluid">
    <div class="container-fluid px-4 py-5" id="hanging-icons">
      <h1 class="text-success text-center" style="font-weight: 700;">Aziende</h1>
    </div>
    <div class="container-fluid text-center g-5 p-5">
      <div class="row align-items-start g-5 p-5">
        <div class="col text-center">
          <div class="card" style="width: 100%;">
            <img src="../../assets/Logo Atlantica.webp" class="card-img-top" alt="Management on Demand">
            <div class="card-body">
              <h5 class="card-title">Atlantica Digital SPA</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 100%">
            <img src="../../assets/Logo ISMAA.webp" class="card-img-top" alt="Zetajobsacademy">
            <div class="card-body">
              <h5 class="card-title">ISMAA Online</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 100%">
            <img src="../../assets/logo_markappa.webp" class="card-img-top" alt="Adulariaviaggi">
            <div class="card-body">
              <h5 class="card-title">Markappa</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>