.container-fluid {
    padding: 0 10% 0 10%;
}

/*Schermi con risoluzioni minori*/
@media (max-width: 1029x) {
    .container-fluid {
        padding: 0;
    }
    .svg {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 821px) {
    .container-fluid {
        padding: 0;
    }
    .svg {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 768px) {
    .container-fluid {
        padding: 0;
    }
    .svg {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 767px) {
    .container-fluid {
        padding: 0;
    }
    .svg {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 600px) {
    .container-fluid {
        padding: 0;
    }
    .svg {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 376px) {
    .container-fluid {
        padding: 0;
    }
    .svg {
        width: 25px;
        height: 25px;
    }
}