<div class="container-fluid">
  <div class="container-fluid text-center shadow">
    <div class="container-fluid py-3" id="hanging-icons">
        <h1 class="text-success text-center" style="font-weight: 700;">Progetti</h1>
    </div>
    <div class="row align-items-start g-5 p-5">
        <div class="col text-center">
          <div class="card" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">Visitrome</h5>
              <a href="https://visitrome.city/" class="img-fluid">
                <img src="../../assets/Logo_visitrome.webp" class="card-img-top" alt="Visitrome">
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 100%">
            <div class="card-body">
              <h5 class="card-title">Redlabpc</h5>
              <a href="https://redlabpc.netlify.app/" class="img-fluid">
                <img src="../../assets/Logo_redlabpc.webp" class="card-img-top" alt="redlabpc">
              </a>
            </div>
          </div>
        </div>
    </div>
</div>