
<!--SCHEDA DI PRESENTAZIONE-->
<div class="container-fluid">
  <h1 class="text-success text-center py-5" style="font-weight: 700;">Middleware System Engineer & Frontend Developer</h1>
  <div class="container-fluid hero text-center">
    <img src="../../assets/Hero image.webp" alt="hero image" class="img-fluid">
  </div>
  <div class="container-fluid text-center shadow">
    <div class="container-fluid">
      <h3 class="text-success" style="font-weight: 700;">Matteo Rossi</h3> <br>
      <p class="text-start">
        Sono un Middleware System Engineer e Frontend e Wordpress Developer. Seguo corsi di formazione di 
        informatica per migliorare e ampliare le mie conoscenze e competenze. Ho lavorato come assistente bagnanti e come istruttore 
        di nuoto per cinque anni. Sono sempre alla ricerca di nuove esperienze e stimoli. Mi ritengo una persona responsabile, puntuale 
        e disponibile.
      </p>
   </div>
  </div>
</div>        

<app-progettirealizzati></app-progettirealizzati>

<app-progettipersonali></app-progettipersonali>

<app-abilita></app-abilita>

<app-aziende></app-aziende>