
    <!--SCHEDA DI PRESENTAZIONE-->
    <div class="container-fluid col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="../assets/portfolioImage.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy" id="portfolioImgage">
          </div>
          <div class="col-lg-6">
            <p class="display-2 fw-bold lh-1 mb-3 text-success">Matteo Rossi</p>
            <p class="lead">Sono un Junior Wordpress Developer. Buona conoscenza dei protocolli IP e del linguaggio Java. 
                       <br> Ho lavorato come assistente bagnanti e istruttore di nuoto per cinque anni.
                       <br> Sono sempre alla ricerca di nuove esperienze e stimoli. Mi ritengo una persona responsabile, disponibile.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="mailto:rossimatteo32@gmail.com"><button type="button" class="btn btn-outline-success btn-lg px-4 me-md-2">Email</button></a>
              <a href="#scendiAdAbilita"><button type="button" class="btn btn-outline-success btn-lg px-4 me-md-2">Abilità</button></a>
            </div>
          </div>
        </div>
      </div>            

<app-formazione></app-formazione>

<app-progettirealizzati></app-progettirealizzati>

<div id="scendiAdAbilita"></div>
<app-abilita></app-abilita>